body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F7F7;
    font-size: 1.5em;
}
/************************************* DIVS ******************************************/

.top_box {
    margin: 0;
    padding-top: 100px;
    background-color: #E4F9F5;
    height: 850px;
}

div {
    background-color: #F9F7F7;
}

.bottom-container {
    background-color: #30E3CA;
    margin: 100px 0 0 0;
    padding-top: 20px;
    height: 100px;
}

/************************************* TITLES ******************************************/

h1 {
    margin: 50px auto 0 auto;
    color: #30E3CA;
    font-family: 'sacramento', cursive;
    font-size: 5rem;
}

h2 {
    margin: 0;
    padding-top: 225px;
    padding-bottom: 50px;
    color: #11999E;
}

.prog {
    font-size: 1.875rem;
    color: #40514E;
}
/************************************* TEXT ******************************************/

.contact-title {
    margin: 0;
    padding-top: 100px;
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    margin-top: 250px;
    margin-bottom: 225px;
}

.skills {
    margin-bottom: 225px;
}

hr {
    border-style: dotted none none;
    border-color: #88FFF7;
    border-width: 8px;
    width: 8%;
}

/************************************* IMAGES ******************************************/

.me {
    width: 20%;
    border-radius: 100%;
}

.top-cloud {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%)
}

.bottom-cloud {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%)
}

.mountain {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.wok {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.python {
    width: 25%;
    float: right;
    margin-left: 30px;
}
/************************************* OTHER ******************************************/

form {
    padding-top: 100px;
}